<p><h1>TURN <%= @game.turn_number %> </h1> </p>
<p><%= @game.play_order.first.name %> vs. <%= @game.play_order.last.name %></p>

<p><%= @game.play_order.last.name %>: <%= @game.play_order.last.hitpoints %> HP</p>

<form action="/attack" method="get">
<input type="submit" value="Attack!">
</form>
